@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap');


body {
    background: rgb(36,218,204);
    background: linear-gradient(90deg, rgba(36,218,204,1) 0%, rgba(255,0,241,1) 100%);
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0
  }

.box {
    background: rgba(255, 255, 255, 0.753);
    padding: 3em;
    width: 100%;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    z-index: 1;
}

.table-bordered td, .table-bordered th {
    border: transparent !important;
}

.table-bordered {
    border: transparent !important;
}

#informacjabox {
    margin-left: 10px;
    position: absolute;
    width: 350px;
    top:0;
    z-index:100;
}

.informacja {
    transition: 1.5s opacity;
}

.informacja.fade-out {
    opacity: 0;
    transition: none;
  }

.banner {
    width: 100%;
}

.wysz{
    margin-right: 0;
    background-color:transparent;
    border:transparent !important;
    border-bottom: 1px solid rgb(110, 110, 110) !important;
    float: right;
}

.jajuwa-btn{
    color: rgb(43, 126, 194);
    background-color: transparent;
    border: 1px solid rgb(43, 126, 194) !important;
    transition: all 0.7s;
}

.jajuwa-btn:hover {
    color:#fff;
    background-color: rgb(43, 126, 194);
}
